<html>
    <head>
        <meta charset="utf-8">
        <title>Promptr</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            {{ include ('forms/create_promptr_form.html.twig', { topic_list: topics }) }}
            <br>
            {{ include ('forms/create_topic_form.html.twig') }}
            
            {# DISPLAY LIST OF UNPOPULATED PROMPTRS THAT NEED QUESTIONS ADDED (by topic #}
            {% if promptrs is not empty %}
                <div class="row">
                    <ul>
                        {% for topic in topics %}
                            {{ topic.getName }}
                            {% if topic.getPromptrs == null %}
                                <p>--No promptrs!</p>
                            {% else %}
                                {% for promptr in promptrs %}
                                    {% if promptr.getTopicId == topic.getId %}
                                        <li><a href="/promptr/{{ promptr.getId }}">{{ promptr.getName }}</a><br></li>
                                    {% endif %}
                                {% endfor %}
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}
            <div class="row">
                <form action="/admin" method="post">
                    <label for="_method">Delete all promptrs and return to admin page</label>
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn-primary">DELETE</button>
                </form>

                <form action="/" method="post">
                    <label for="_method">Delete EVERYTHING and go to Promptr Home</label>
                    <input type="hidden" name="_method" value="delete">
                    <button type="submit" class="btn-danger">DELETE</button>
                </form>
                <br>
                <a href="/">Promtr Home Page</a>
            </div>
        </div>
    </body>
</html>
