<html>
    <head>
        <meta charset="utf-8">
        <title>Promptr</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="/css/forms.css" media="screen" charset="utf-8">

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">

        <h2>Promptr - "{{ promptr.getName }}"</h2>

        {% embed "forms/question_form.html.twig" %}

        {% endembed %}

        {% if questions is not empty %}

              {% for question in questions %}
              <form  action="/promptr/{{ promptr.getId }}/delete_question/{{ question.getId }}" method="post">
                  <label name="question_id" id="question_id">
                      <input id="question_id" name="_method" type="hidden" value="delete">{{ question.getQuestion }}
                  </label>
                  <button name="button" type="submit">delete</button>
              </form>
              {% endfor %}

        {% endif %}
        <a href="/promptr/{{ promptr.getId }}/question">Run your promptr</a>


<!-- embed a text box here to enter a description -->
        </div>
    </body>
</html>
