<html>
    <head>
        <title>Promptr Questions</title>
        <link rel="stylesheet" href="/css/forms.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            {% if question %}
                <div class="panel panel-warning" id="run">
                    <div class="panel-heading" id="run">
                        <h2> {{ question.getQuestion }}</h2><br>
                        <h3>{{ question.getDescription }}</h3><br>
                    </div>
                </div>

                {% embed "forms/answer_form.html.twig" %}

                {% endembed %}
                <form action="/promptr/{{ promptr.getId }}">
                    <button type="submit" class="btn btn-mini btn-info">Return to Promptr</button>
                </form>

            {% else %}
                {#
                <h3>You have finished running through the "{{ promptr.getName }}" promptr!</h3>
                <a href="/promptr/{{ promptr.getId }}/display">Display</a>
                #}
                {% if promptr != null %}
                    {% for question in questions %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3>    {{ question.getQuestion }} </h3>
                            </div>
                            {% for answer in question.getAnswers  %}
                                    <div class="panel-body">
                                        <h5>    {{ answer.getAnswer }} </h5>
                                    </div>
                            {% endfor %}
                        </div>
                    {% endfor %}

                    <form action="/promptr/{{ promptr.getId }}">
                        <button type="submit" class="btn btn-mini btn-info">Return to Promptr</button>
                    </form>
                {% endif %}
            {% endif %}


        </div>

    </body>
</html>
