<html>
    <head>
        <meta charset="utf-8">
        <title>Promptr</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-material-design/0.3.0/css/material-fullpalette.css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">
            <div class="panel panel-success">
                <div class="panel-heading">
                    <h2>Topic: {{ topic.getName }}</h2>
                </div>
            </div>


            {% if topic.getPromptrs is not empty %}
            <div>
                <table class="table table-striped table-hover">
                    <tbody>
                            <tr>
                                <td>

                                    <form action="/topic/{{ topic.getId }}" method="post">
                                    <div class="form-group">
                                        <input class="form-control floating-label" id="focusedInput" type="text" name="name" placeholder="Name">
                                    </div>
                                </td>
                                <td>
                                        <button type="submit" class="btn btn-flat btn-default">Add Promtpr</button>

                                    </form>
                                </td>
                            </tr>
                        {% for promptr in promptrs %}
                            <tr>
                                <td>
                                    <form action="/promptr/{{ promptr.getId }}/question">
                                        <input type="hidden" name="shuffle" value="false">
                                        <button type="submit" class="btn btn-flat btn-default">{{ promptr.getName }}</button>
                                    </form>
                                </td>
                                <td>
                                    <form action="/promptr/{{ promptr.getId }}">
                                        <button type="submit" class="btn btn-flat btn-warning">Dashboard</button>
                                    </form>
                                </td>
                            </tr>

                        {% endfor %}

                                <a  href="/">Home</a>
                    </tbody>
            </div>

            {% else %}
                <h3>--No Promptrs!</h3><br>
                {{ include ('forms/create_promptr_form.html.twig', { topic_list: 'null', curr_topic : topic}) }}
            {%  endif %}
            <div>

            </div>
        </div>
    </body>
</html>
