<html>
    <head>
        <meta charset="utf-8">
        <title>Promptr</title>
        <link rel="stylesheet" href="/css/styles.css" media="screen" charset="utf-8">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    </head>
    <body>
        <div class="container">

            <h2>Topic: {{ topic.getName }}</h2>
            {% if topic.getPromptrs is not empty %}
            <div class="col-md-8">
                <ul>
                    {% for promptr in promptrs %}
                        <li><a href="/promptr/{{ promptr.getId }}/question">{{ promptr.getName}}</a></li><a type="button" href="/promptr/{{ promptr.getId }}">Edit this Promptr</a>
                    {% endfor %}
                </ul>
            </div>

            {% else %}
                <h3>--No Promptrs!</h3><br>
                {{ include ('forms/create_promptr_form.html.twig', { topic_list: 'null', curr_topic : topic}) }}
            {%  endif %}
<div>
    go to premade id and run
</div>
<div id="name">
    go to route to create and edit a new promptr
</div>
            <div class="footer">
                <a style="text-align: left" href="/">Home</a>
            </div>
        </div>
    </body>
</html>
